{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-family: Lobster, serif; font-size: 25px;">Wild Animal Detection</a>
      <button onclick="right()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav" >
            <li class="nav-item ">
                <a href="http://127.0.0.1:8000/" class="nav-link active" >Home</a>
            </li>

            <li class="nav-item">
                <a href="wild" class="nav-link active">Wild Animal Detection</a>
            </li>

            <!-- <li class="nav-item">
                <a href="notify" class="nav-link active">Notification</a>
            </li> -->

        </ul>
    </div>
    </div>
  </nav>


{% endblock content %}